<% include ../partials/header %>
<div class="container">
<br>
	<div class="row">
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<div class="list-group">
				<div class="list-group-item active">Info 1</div>
				<div class="list-group-item">Info 2</div>
				<div class="list-group-item">Info 3</div>
			</div>
		</div>

		<div class="col-md-9">
		
			<div class="img-thumbnail p-0">
				<img src="<%=camp.image%>" class="img-fluid">
				<div class="card-body">
					<h5 class="float-right">900$/night</h5>
					<h4><a href="#"><%=camp.title%></a></h4>
					<%=camp.description%>
					<p class="details"><em>Created by:<strong><%=camp.author.username%></strong></em></p>
					 <%if(currentUser && currentUser._id.equals(camp.author.id)){%>

						<a href="/camps/<%=camp._id%>/edit" class="btn btn-warning">Edit</a>
					
						<form style="display:inline;" action="/camps/<%=camp._id%>?_method=DELETE" method="POST">
							<input type=submit class="btn btn-danger" value="Delete">
						</form>
					 <%}%>
				</div>
			</div>
			
			<div class="card card-body bg-light mt-3">
				<p class="reviews"><strong>Comments</strong>
				<a href="/camps/<%=camp._id%>/comments/new" class="btn btn-success float-right">Add new comment</a></p>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<% camp.comments.forEach(function(comm){ %>
							<span class="float-right">10 days ago</span>
							<strong><%=comm.author.username%></strong>
							 <p class="comm"><%=comm.text%></p>
							
							<% if(currentUser && currentUser._id.equals(comm.author.id)){%>
								 <a class="btn btn-warning btn-sm" href="/camps/<%=camp._id%>/comments/<%=comm.id%>/edit">Edit</a>
								 <form style="display:inline" action="/camps/<%=camp._id%>/comments/<%=comm.id%>?_method=DELETE" method="POST">
								 	<button class="btn btn-sm btn-danger">Delete</button><br>
								 </form>
							<% } %>
						<%})%>
					</div>
				</div>
					
			</div>
		</div>
	</div>
</div> 
<a href="/camps">Go Back</a>

<% include ../partials/footer %>